
  * {
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: 0; border: 0;
    transition: all 0.2s linear;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    
}

 body{
/* background:#f3efdd; */
background-image: url('image/last2.jpg');


/* background: rgb(243, 237, 245); */

 }



  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    box-shadow: var(--box-shodow);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1001;
    /* background-color: #faf5e1; */
    background-color:rgb(239, 247, 247);

}


header .logo{
    color: var(--mincolor);
    font-size: 1.5rem;
}


header .logo img{
        height: 6rem;
        width: 9rem;
         margin: -38px;
        padding: 9px;
        /* padding-top: 100px; */
        /* padding-right: 36px; */
   
    
}
 
header .navbar {
    margin: -38px;
        padding: 9px;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.5rem;

}
 .form img{
   
    
        border-radius: 100% !important;
        /* max-width: 100px; */
        margin: 117px;
        padding: 10px;
        margin-left: 52rem;
        margin-top: -6.2rem;
    


}
.form h1{
   
    
    border-radius: 100% !important;
    /* max-width: 100px; */
    margin: 117px;
    padding: 10px;
    margin-left: 57.1rem;
    margin-top: 10rem;



} 




/* ******************************************************************** */


  form {
    
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: -39rem 105px;
    padding: 20px;
    border: 1px solid #dec1c1;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #responseMessage {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    display: none;
  }